
@media (min-width: 1350px)
{




  #calendar { font-family:arial; font-size:12px; text-align:center;  }
  #calendar th {background-color:#A9A9A9; color:#000000; text-align:center}
  #calendar #week {color:#000000; background:#666666 url(images/music_calendar_null.gif) repeat-x; height:45px;}
  #calendar #week a {font-size:34px; text-decoration:none; color:#0000CD; padding:0 14px 0 14px}
  #calendar #center_date {font-family: 'Droid Serif', Georgia, Times, serif; font-size:22px; color:#000000; margin:0 auto; text-align:center; font-weight:bold}


  .green {display:block;font-size: 20px; text-decoration:none; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 50px; background: url("images/block_free.gif") no-repeat; text-align: center; line-height: 49px}
  .unavailable {text-decoration:none; font-size: 20px; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 49px; background: url("images/block_null.gif") no-repeat; text-align: center; line-height: 49px}
  .closed {text-decoration:none; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 49px; background: url("images/block_past.gif") no-repeat; text-align: center; line-height: 49px}
  .part_booked{display:block; font-size: 20px; text-decoration:none; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 49px; background: url("images/block_part.gif") no-repeat; text-align: center; line-height: 49px}
  .fully_booked{display:block; font-size: 20px; text-decoration:none; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 49px; background: url("images/block_fully_booked.gif") no-repeat; text-align: center; line-height: 49px}
  .past{text-decoration:none; font-size: 20px; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 50px; background: url("images/block_null.gif") no-repeat; text-align: center; line-height: 49px}

  input[type=checkbox]
  {
    width:40px; 
    height:40px;
    

  }
  /* transform: scale(0.7); */
  .green  span {display:none}

  .green  span a:hover  {display: block;
     position: absolute;  width: 25px;
     padding: 5px; margin: 10px; z-index: 100;
     color: #AAA; background: black;
     font: 10px Verdana,sans-serif; text-align: center;}



  @media (min-width: 800px)
  {
    
    
    #outer_calendar {position:relative; top:80px; width:445px; height: 335px; background-color:#000000;}
  }
  @media (max-width: 799px)
  {
    #outer_booking {font-family: 'Carrois Gothic', padding:20px; padding-top:20px;  background-color:#000000;  height:400px; overflow:auto;}
    #booking{width: 80%; margin: auto;}
    #lhs {float:right; } /* Holds both the calendar and the basket*/
    #outer_calendar {padding:25px; padding-top:10px; width:500px; background-color:#000000;}1
  }


  #outer_booking {width: 67.5%; float:right; margin-top:-325px; height: 397px; overflow:auto;}
  #booking td, #booking th { padding:10px;}
  #booking td, img {width:20%;}
  #booking td, input{width:20%;}





  /*Calendar */

  #outer_booking h2 {font-family: 'Droid Serif', Georgia,Times, serif; font-size:22px; color:#FFFFFF; margin-top:0}
  #outer_booking p {font-family: 'Droid Sans', Helvetica, Arial, sans-serif; color:#666666; font-size:14px}
  /*#outer_booking #booking {font-size:80%; border:#CCCCCC 5px solid; border-right:none; border-bottom:none; margin:auto;}*/
  #outer_booking span {color:red}
  #outer_price {width:200px; float:left; height:22px; margin-top:6px}*/

  #outer_booking #booking {font-size:80%; border:#CCCCCC 5px solid;  border-right:none; border-bottom:none; margin:auto;}
  #outer_booking #booking th {border:#000 3px solid;background:#666666 url("images/booking_grad.jpg") repeat-x; color:#FFFFFF; text-align:center; }
  #outer_booking #booking td {border:#000 3px solid;border-bottom:#CCCCCC 1px solid; padding: 4px; text-align:center;  }


  /* Horarios */
  #outer_basket {display:none; float:left; font-family: 'Carrois Gothic', sans-serif; padding:25px; margin-top:20px; padding-top:18px; width:450px; background-color:#EEEEEE}
  #outer_basket h2 {font-family: 'Droid Serif', Georgia, Times, serif; font-size:22px; color:#595858; margin-top:0}
  #outer_basket #selected_slots {width:130px; min-height:20px; font-size:14px; float:left; line-height:1.6em; color:#666666; font-family: 'Droid Serif',Georgia,Times,serif}
  #basket_details { width:100px; height:250px; font-family: 'Droid Serif',Georgia,Times,serif; font-size:13px; color:#666666}
  /*#basket_details .text_box {width:200px; margin-bottom:10px}
  /*#basket_details #currency {font-family:arial; color:purple; font-weight:bold; font-size:23px; padding:0 0 0 0}
  /*#basket_details #total {font-family:arial; width:100px; height:22px; color:purple; font-weight:bold; font-size:23px; background-color:transparent; border:none}*/
  #btn_book {margin:10px 0 0 320px}

  #key {margin-top:25px; width:275px; height:60px; border:#CCCCCC 1px solid; font-family:arial; color:#000000; font-size:11px}
  #key td {text-align:center; width:45px}
  #key_1 {background-color:#d80000}
  #key_2 {background-color:#a295dd}
  #key_3 {background-color:#d18800}
  #key_4 {background-color:#019500}
  #key_5 {background-color:#948e8e}

  .input {width:220px}
  textarea {width:220px}
  #book {background:transparent url(images/book.png) no-repeat; width:135px; height:32px; border:none; margin-top:5px}
  #book:hover {background:transparent url(images/book_mo.png)}
  #selected_date {width:288px; height:20px; background-color:#dfeefa; border:#4085d1 1px solid; font-family:arial; font-size:14px; padding:4px 0 4px 10px; color:#4085d1; margin:20px 0 10px 0}

  /* Messages */
  .info, .error, .success {  
    width:250px;    
      margin:20px 0 0 0;
      padding:15px 10px 15px 50px;
      background-repeat: no-repeat;    
      font-size:12px; font-weight:bold;
      background-position: 10px center;
      font-family:Arial, Helvetica, sans-serif; 
      line-height:1.2em;
  }

  .error, .error a {
      color: #D8000C;
      border:#cf0023 1px solid;
      background-color: #FFBABA;
      background-image: url('images/knobs/error.png');
  }

  .info, .info a {
      color: #00529B;
      border:#294b99 1px solid;
      background-image:url('images/knobs/info.png');
      background-color:#c1e4f8
  }

  .success, .success a {
      color: #4F8A10;
      border:#528f11 1px solid;
      background-color: #DFF2BF;
      background-image:url('images/knobs/success.png');
  }

  .popupContainer
  {
    margin-left: 10%;
    margin-right: auto;
    width: 50%;
    
  }

  .action_btns
  {
    margin-left: 20%;
  }


  /* This button was generated using CSSButtonGenerator.com */





  /*#popup2 h1 {
   margin:auto; margin-top:10%; padding-top:-25%; font-size:5vw;
  }

  #popup2 h3 {
    margin:auto; margin-top:20%; font-size: 3.5vh;
  }

  #popup button {
    margin:auto; margin-top:10%; font-size: 80%;  
  }

  /* The Close Button */
  /*#closePopup {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  #closePopup:hover,
  #closePopup:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }*/

  #modal2 {

    position: fixed; /* Stay in place */
    z-index: 100;
    left:15%;
    top:25%;
    display: none;
    
    


    /*position: fixed;
          
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          background: #000;
          display: none;*/
  }

  #lean_overlay {
          position: fixed;
          z-index: 100;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          background: #000;
          display: none;
  }

  .confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 280px;
    max-width: 500px;
    height: 50%;
    background: #B5B7DC;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    border-top: 1px solid white;
    animation: fade 1s ease 1 forwards;
  }
  .confirm h1 {
    text-align: center;
    font-size: 5rem;
    margin: 1.5rem 1rem 0.5rem;
  }
  .confirm h3 {
    text-align: center;
    font-size: 4rem;
    margin: 0 2rem 4.5rem;
  }
  .confirm button {
    background: transparent;
    border: none;
    color: #1678E5;
    height: 3rem;
    font-size: 1rem;
    width: 50%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
  }
  .confirm button:nth-of-type(1) {
    border-top: 1px solid #B4B4B4;
    border-right: 1px solid #B4B4B4;
    left: 0;
    border-radius: 0 0 0 10px;
  }
  .confirm button:nth-of-type(2) {
    border-top: 1px solid #B4B4B4;
    right: 0;
    border-radius: 0 0 10px 0;
  }
  .confirm button:focus,
  .confirm button:hover {
    font-weight: bold;
    background: #EFEFEF;
  }
  .confirm button:active {
    background: #D6D6D6;
  }
}




/*AQUIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/




@media (max-width: 1350px)
{



  #calendar { font-family:arial; font-size:12px; text-align:center}
  #calendar th {background-color:#A9A9A9; color:#000000; text-align:center}
  #calendar #week {color:#000000; background:#666666 url(images/music_calendar_null.gif) repeat-x; height:45px;}
  #calendar #week a {font-size:34px; text-decoration:none; color:#0000CD; padding:0 14px 0 14px}
  #calendar #center_date {font-family: 'Droid Serif', Georgia, Times, serif; font-size:22px; color:#000000; margin:0 auto; text-align:center; font-weight:bold}


  .green {display:block;font-size: 20px; text-decoration:none; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 50px; background: url("images/block_free.gif") no-repeat; text-align: center; line-height: 49px}
  .unavailable {text-decoration:none; font-size: 20px; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 49px; background: url("images/block_null.gif") no-repeat; text-align: center; line-height: 49px}
  .closed {text-decoration:none; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 49px; background: url("images/block_past.gif") no-repeat; text-align: center; line-height: 49px}
  .part_booked{display:block; font-size: 20px; text-decoration:none; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 49px; background: url("images/block_part.gif") no-repeat; text-align: center; line-height: 49px}
  .fully_booked{display:block; font-size: 20px; text-decoration:none; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 49px; background: url("images/block_fully_booked.gif") no-repeat; text-align: center; line-height: 49px}
  .past{text-decoration:none; font-size: 20px; color:#000000; margin:0; padding:0px 1px 1px 0; width: 63px; height: 50px; background: url("images/block_null.gif") no-repeat; text-align: center; line-height: 49px}

  input[type=checkbox]
  {
  	width:40px; 
  	height:40px;
  	

  }
  /* transform: scale(0.7); */
  .green  span {display:none}

  .green  span a:hover  {display: block;
     position: absolute;  width: 25px;
     padding: 5px; margin: 10px; z-index: 100;
     color: #AAA; background: black;
     font: 10px Verdana,sans-serif; text-align: center;}

  

  @media (min-width: 800px)
  {
    #display{}
    #outer_booking { font-family: 'Carrois Gothic'; transform:scale(0.5,0.5);background-color:#FFF; overflow:auto; height: 600px;}
    
    #outer_calendar {position:relative; top:80px; width:500px; background-color:#000000;}
  }
  @media (max-width: 799px)
  {
    #outer_booking {font-family: 'Carrois Gothic', padding:20px; padding-top:20px;  background-color:#000000;  height:400px; overflow:auto;}
    #booking{width: 80%; margin: auto;}
    #lhs {float:right;} /* Holds both the calendar and the basket*/
    #outer_calendar {padding:25px; padding-top:10px; width:500px; background-color:#000000;}1
  } 




  /*Calendar */

  #outer_booking h2 {font-family: 'Droid Serif', Georgia,Times, serif; font-size:22px; color:#FFFFFF; margin-top:0}
  #outer_booking p {font-family: 'Droid Sans', Helvetica, Arial, sans-serif; color:#666666; font-size:14px}
  /*#outer_booking #booking {font-size:80%; border:#CCCCCC 5px solid; border-right:none; border-bottom:none; margin:auto;}*/
  #outer_booking span {color:red}
  #outer_price {width:200px; float:left; height:22px; margin-top:6px}*/

  #outer_booking #booking {font-size:80%; border:#CCCCCC 5px solid;  border-right:none; border-bottom:none; margin:auto;}
  #outer_booking #booking th {border:#6E6E6E 3px solid;background:#666666 url("images/booking_grad.jpg") repeat-x; color:#FFFFFF; text-align:center; }
  #outer_booking #booking td {border:#6E6E6E 3px solid;border-bottom:#CCCCCC 1px solid; padding: 4px; text-align:center;  }


  /* Horarios */
  #outer_basket {display:none; float:left; font-family: 'Carrois Gothic', sans-serif; padding:25px; margin-top:20px; padding-top:18px; width:450px; background-color:#EEEEEE}
  #outer_basket h2 {font-family: 'Droid Serif', Georgia, Times, serif; font-size:22px; color:#595858; margin-top:0}
  #outer_basket #selected_slots {width:130px; min-height:20px; font-size:14px; float:left; line-height:1.6em; color:#666666; font-family: 'Droid Serif',Georgia,Times,serif}
  #basket_details { width:100px; height:250px; font-family: 'Droid Serif',Georgia,Times,serif; font-size:13px; color:#666666}
  /*#basket_details .text_box {width:200px; margin-bottom:10px}
  /*#basket_details #currency {font-family:arial; color:purple; font-weight:bold; font-size:23px; padding:0 0 0 0}
  /*#basket_details #total {font-family:arial; width:100px; height:22px; color:purple; font-weight:bold; font-size:23px; background-color:transparent; border:none}*/
  #btn_book {margin:10px 0 0 320px}

  #key {margin-top:25px; width:275px; height:60px; border:#CCCCCC 1px solid; font-family:arial; color:#000000; font-size:11px}
  #key td {text-align:center; width:45px}
  #key_1 {background-color:#d80000}
  #key_2 {background-color:#a295dd}
  #key_3 {background-color:#d18800}
  #key_4 {background-color:#019500}
  #key_5 {background-color:#948e8e}

  .input {width:220px}
  textarea {width:220px}
  #book {background:transparent url(images/book.png) no-repeat; width:135px; height:32px; border:none; margin-top:5px}
  #book:hover {background:transparent url(images/book_mo.png)}
  #selected_date {width:288px; height:20px; background-color:#dfeefa; border:#4085d1 1px solid; font-family:arial; font-size:14px; padding:4px 0 4px 10px; color:#4085d1; margin:20px 0 10px 0}

  /* Messages */
  .info, .error, .success {  
  	width:250px;    
      margin:20px 0 0 0;
      padding:15px 10px 15px 50px;
      background-repeat: no-repeat;    
      font-size:12px; font-weight:bold;
      background-position: 10px center;
      font-family:Arial, Helvetica, sans-serif; 
      line-height:1.2em;
  }

  .error, .error a {
      color: #D8000C;
      border:#cf0023 1px solid;
      background-color: #FFBABA;
      background-image: url('images/knobs/error.png');
  }

  .info, .info a {
      color: #00529B;
      border:#294b99 1px solid;
      background-image:url('images/knobs/info.png');
      background-color:#c1e4f8
  }

  .success, .success a {
      color: #4F8A10;
      border:#528f11 1px solid;
      background-color: #DFF2BF;
      background-image:url('images/knobs/success.png');
  }


  /* This button was generated using CSSButtonGenerator.com */





  /*#popup2 h1 {
   margin:auto; margin-top:10%; padding-top:-25%; font-size:5vw;
  }

  #popup2 h3 {
  	margin:auto; margin-top:20%; font-size: 3.5vh;
  }

  #popup button {
  	margin:auto; margin-top:10%; font-size: 80%;  
  }

  /* The Close Button */
  /*#closePopup {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  #closePopup:hover,
  #closePopup:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }*/

  #modal2 {

    position: fixed; /* Stay in place */
    z-index: 100;
    left:15%;
    top:25%;
    display: none;
    
    


    /*position: fixed;
          
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          background: #000;
          display: none;*/
  }

  .action_btns
  {
    margin-left: 10%;
  }

  #lean_overlay {
          position: fixed;
          z-index: 100;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          background: #000;
          display: none;
  }

  .confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 280px;
    max-width: 500px;
    height: 50%;
    background: #B5B7DC;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    border-top: 1px solid white;
    animation: fade 1s ease 1 forwards;
  }
  .confirm h1 {
    text-align: center;
    font-size: 5rem;
    margin: 1.5rem 1rem 0.5rem;
  }
  .confirm h3 {
    text-align: center;
    font-size: 4rem;
    margin: 0 2rem 4.5rem;
  }
  .confirm button {
    background: transparent;
    border: none;
    color: #1678E5;
    height: 3rem;
    font-size: 1rem;
    width: 50%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
  }
  .confirm button:nth-of-type(1) {
    border-top: 1px solid #B4B4B4;
    border-right: 1px solid #B4B4B4;
    left: 0;
    border-radius: 0 0 0 10px;
  }
  .confirm button:nth-of-type(2) {
    border-top: 1px solid #B4B4B4;
    right: 0;
    border-radius: 0 0 10px 0;
  }
  .confirm button:focus,
  .confirm button:hover {
    font-weight: bold;
    background: #EFEFEF;
  }
  .confirm button:active {
    background: #D6D6D6;
  }
}




/*AQUIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/



